<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<br><br><br>
<div class="container">
<div class="row col-md-6 offset-md-3">
<div th:if="${balanceminutes != null}">
	<p style="color: red;">Your account was locked due to 3 unsuccessful login attempts</p>
	<p style="color: red;">Right Now You won't be allowed to perform Forgot Password Action</p>
    <p style="color:red;">Please perform this action after <span th:text="${balanceminutes}"></span> minutes</p>
</div>
<div class="card">
<div class="card-header">
<h2 class="text-center">Forgot Password Form</h2>
</div>
<div class="card-body">
<form 
method="post"
th:action="@{/forgotpassword/process}"
class="form-horizontal"
role="form"
>
<div class="form-group mb-3">
<label class="control-label">Email</label>
<input 
	type="text"
	id="username"
	name="username"
	class="form-control"
	placeholder="Enter email address"
	/>
</div>

<div class="form-group mb-3">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<br><br><br>

</body>
</html>